doctype html
html(lang="en")
   head
      title= pageTitle
      link(rel='stylesheet',type='text/css',href='/css/bootstrap.min.css')
   body
      h1 Crypto Data Collector
      #container
         .row
            .col-md-6.col-md-offset-3
               table.table
                  thead
                     tr
                        th Product ID
                        th Order Type
                        th Price
                  tbody
                     - items.forEach(function(item) {
                        tr 
                           td #{item.product_id}
                           td #{item.order_type}
                           td #{item.price}
                     - })
