doctype html
html(lang="en")
   head
      title= pageTitle
   body
      h1 Jade - node template engine
      #container
         - if (youAreUsingJade)
            p You are amazing
         - else
            p Get on it!
            p Get on it!
            p Get on it!
            p Get on it!
         ul
            - items.forEach(function(item) {
               li #{item.order_type} (#{item.price})
            - })
