doctype html
html(lang="en")
   head
      title= pageTitle
      link(rel='stylesheet',type='text/css',href='/css/bootstrap.min.css')
      script(type="text/javascript" src="http://www.chartjs.org/dist/2.7.1/Chart.bundle.js")
      script(type="text/javascript", src="http://www.chartjs.org/samples/latest/utils.js")
      script(type="text/javascript" src="/js/chart.js")
   body
      .row
         h1.col-md-offset-3 Crypto Data Collector
      #container
        canvas#canvas
        script.
            setup([#{label}], [#{values}])